transform-origin(x,y)
	-webkit-transform-origin x y
	-moz-transform-origin x y
	-ms-transform-origin x y
	-o-transform-origin x y
	transform-origin x y

transition()
	-webkit-transition arguments
	-moz-transition arguments
	-o-transition arguments
	-ms-transition arguments
	transition arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments

box-shadow() 
	-webkit-box-shadow arguments
	box-shadow arguments

backface-visibility() 
	-webkit-backface-visibility arguments
	-moz-backface-visibility arguments
	-ms-backface-visibility arguments
	backface-visibility arguments